:root {
  /* Colors */
  --clr-primary-600: hsl(185, 75%, 39%);
  --clr-primary-900: hsl(229, 23%, 23%);
  --clr-primary-700: hsl(227, 10%, 46%);
  --clr-neutral-600: hsl(0, 0%, 59%);

  --ff-base: "Kumbh Sans", sans-serif;

  --fs-default: 0.875rem;
  --fs-heading: 1.125rem;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* Use a more-intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Make images responsive */
image,
picture,
iframe,
svg {
  max-width: 100%;
  display: block;
}

/* Generic/General */
body {
  background-color: var(--clr-primary-600);
  color: var(--clr-primary-700);
  line-height: 1.5;
  font-size: var(--fs-default);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);

  min-height: 100svh;
  display: grid;
  place-content: center;
}

/* Typography */
.user-name {
  color: var(--clr-primary-900);
  font-weight: var(--fw-bold);
  font-size: var(--fs-heading);
}

.user-age {
  font-size: var(--fs-heading);
}

hr {
  opacity: 0.2;
}

.stat-value {
  color: var(--clr-primary-900);
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
}

.stat-name {
  font-size: 0.625rem;
  letter-spacing: 1.5px;
}

/* Layout */
.profile-card {
  max-width: 22rem;
  background-color: white;
  text-align: center;
}

/* Utility classes */
.has-flex {
  display: flex;
}

/* Desktop Version */
@media (min-width: 1440px) {
  body {
    background-position: right 45vw bottom 45vh, left 45vw top 40vh;
  }

  .content {
    min-height: 100vh;
  }

  .user-name,
  .user-age,
  .stat-number {
    font-size: 1.5rem;
  }

  .user-location,
  .stat-name {
    font-size: 0.9rem;
  }

  .card-stats {
    justify-content: space-around;
  }
}
