*, *::after, *::before{
    box-sizing: border-box;
    margin-top: 0;
}

body{
    margin: 0;
    /* background: url("./images/bg-pattern-top.svg") no-repeat top left,
    url("./images/bg-pattern-bottom.svg") no-repeat bottom right; */
    background-color: hsl(185, 75%, 39%);
    line-height: 1.5;
}

.content{
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.container{
    background-color: white;
    max-width: 20rem;
    border-radius: 1rem;
    box-shadow: 0rem 1rem 2rem 0 rgba(0,0,0,.3);
}

.main-image{
    display: block;
    max-width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.attribution { 
    font-size: 0.9rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
